nav {
  height: 46px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 32px;
}
nav .menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
nav .menu .icon-holder {
  display: none;
}
nav .menu .icon-holder {
  cursor: pointer;
}
nav .menu .icon {
  margin-bottom: -2px;
}
nav .logo {
  font-weight: bold;
  font-size: 16px;
}
nav .user-infos {
  font-size: 14px;
}
nav .profile-infos {
  display: flex;
  align-items: center;
  gap: 15px;
}
nav .profile-infos img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
@media (max-width: 768px) {
  nav .menu .icon-holder,
  .page aside .header .close {
    display: block;
  }
}
